<mat-toolbar color="light">
    <mat-toolbar-row class="toolbar-row">
        <span>Iniciar sesión</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>

</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="loginForm">
        <div fxFlex fxlayout="column">

            <mat-form-field appearance="standard">
                <mat-label>Correo electrónico</mat-label>
                <input matInput formControlName="email" required>
                <mat-error
                    *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
                    <span
                        *ngIf="loginForm.controls.email.errors.required">El
                        campo correo es obligatorio</span>
                    <span
                        *ngIf="loginForm.controls.email.errors.pattern">El
                        campo correo es inválido</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" type="password"
                    required [type]="hide ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix
                    (click)="hide = !hide"
                    [attr.arial-label]="'Ocultar contraseña'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility'
                        }}</mat-icon>
                </button>
                <mat-error
                    *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                    <span
                        *ngIf="loginForm.controls.password.errors.required">El
                        campo contraseña es obligatorio</span>
                </mat-error>
            </mat-form-field>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="!(loginForm.valid && loginForm.dirty)">
        <mat-icon>login</mat-icon> Ingresar
    </button>
    <button mat-raised-button color="warn" mat-dialog-close=>
        <mat-icon>cancel</mat-icon> Cancelar
    </button>
</mat-dialog-actions>

<style>
.toolbar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spacer {
  margin-left: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


</style>
